.center {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.black {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: darkgreen;
}

.menu {
    display: inline-block;
    width: 40%;
    padding: 5px;
    margin-top: 8px;
    margin-left: 100px;
    margin-right: 100px;
    border: 3px dashed;
    border-color: lightblue;
}

.yellow {
    background-color: #F3F781;
    padding: 6px 12px;
    margin-top: 8px;
    margin-left: -5px;
    border: none;
    border-radius: 40px;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pink {
    background-color: lightpink;
    padding: 6px 12px;
    margin-top: 8px;
    margin-left: -5px;
    border: none;
    border-radius: 40px;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dark-blue {
    background-color: blueviolet;
    padding: 6px 12px;
    margin-top: 8px;
    margin-left: -5px;
    border: none;
    border-radius: 40px;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.green {
    background-color: greenyellow;
    padding: 6px 12px;
    margin-top: 8px;
    margin-left: -5px;
    border: none;
    border-radius: 40px;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dunno {
    display: inline-block;
    width: 100%;
    // background-color: black;
    color: wheat;
    background-image: url();
    
}

.blue {
    background-color: lightblue;
    padding: 6px 12px;
    margin-top: 8px;
    margin-left: -5px;
    border: none;
    border-radius: 40px;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.paint {
    /* background-color: rgb(255, 206, 206); */
    border: none;
    border-bottom: 2px dotted;
    margin-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.borders {
    border: 6px dashed;
    border-color: rgb(3, 3, 189);
}

.bg-white {
    background-color: bisque;
}

.white {

}

.paint {
    /* background-color: rgb(255, 206, 206); */
    border: none;
    border-bottom: 2px dotted;
    margin-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.restaurant {
    display: inline-block;
    width: 100%;
    height: 100px;
    background-image: url('https://restaurant.opentable.com/news/wp-content/uploads/sites/100/2015/06/pizzaiolo_6542.jpg');
    background-position: center;
    background-size: cover;
}

.logo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 800;
}

.red {
    color: red;
}

.picture {
    height: 200px;
}

body {
    font-family: "Lato", sans-serif;
    background-color: rgb(182, 181, 181);
    // background-image: linear-gradient(to bottom right, white, yellow);
    // background-position: center;
    // background-size: cover;
    // object-fit: cover;
}



.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
    margin-left: 10px;
}

.color {
    background-color: black;
    color: white;
}

.top {
    margin-top: -50px;
}

// .bottom {
//     margin-top: 100px;
// }

.pic {
    background-image: url('https://www.booooooom.com/wp-content/uploads/2019/01/mailka-favre-0.jpg');
}

// .card-header.test {
//     background-image: url({{url('images/iu.jpg')}});
//     background-size: 100% 100%;
// }

.card-item {
    display: inline-block;
    float: left;
}

@media (min-width:576px) {
    .card-item {
        width: 100%;
    }
}
@media (min-width:768px) {
    .card-item {
        width: 99%;
    }
}
@media (min-width:992px) {
    .card-item {
        width: 50%;
    }
    

}
@media (min-width:1200px) {
    .card-item {
        width: 30%;
    }
}

a.text {
    font-size: 44px;
    font-style: bold;
    color: white;
}

.leave {
    display: inline-block;
    width: 30%;
}

.push {
    display: inline-block;
}

.father {
    display: inline-block;
    width: 100%;
}

// .left {
//     margin-left: -4px;
// }

.bottom {
    margin-top: 200px;
}

.grey {
    color: lightblue;
}

.drink {
    width: 100%;
    height: 100vh;
}