.center {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.black {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: darkgreen;
}

.menu {
    display: inline-block;
    width: 40%;
    padding: 5px;
    margin-top: 8px;
    margin-left: 100px;
    margin-right: 100px;
    border: 3px dashed;
    border-color: lightblue;
}

.yellow {
    background-color: #F3F781;
    padding: 6px 12px;
    margin-top: 8px;
    margin-left: -5px;
    border: none;
    border-radius: 40px;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pink {
    background-color: lightpink;
    padding: 6px 12px;
    margin-top: 8px;
    margin-left: -5px;
    border: none;
    border-radius: 40px;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dark-blue {
    background-color: blueviolet;
    padding: 6px 12px;
    margin-top: 8px;
    margin-left: -5px;
    border: none;
    border-radius: 40px;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.green {
    background-color: greenyellow;
    padding: 6px 12px;
    margin-top: 8px;
    margin-left: -5px;
    border: none;
    border-radius: 40px;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dunno {
    display: inline-block;
    width: 100%;
    background-color: black;
    color: wheat;
    
}

.grey {
    background-color: rgb(80, 78, 79);
}

.blue {
    background-color: lightblue;
    padding: 6px 12px;
    margin-top: 8px;
    margin-left: -5px;
    border: none;
    border-radius: 40px;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.paint {
    /* background-color: rgb(255, 206, 206); */
    border: none;
    border-bottom: 2px dotted;
    margin-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.borders {
    border: 6px dashed;
    border-color: rgb(3, 3, 189);
}

.color {
    background-color: bisque;
}

.bg-white {
    background-color: bisque;
}

.white {

}

.paint {
    /* background-color: rgb(255, 206, 206); */
    border: none;
    border-bottom: 2px dotted;
    margin-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.restaurant {
    display: inline-block;
    width: 100%;
    height: 100px;
   
    /* // margin-top: -760px;
    // margin-left: -100px;
    // position: absolute;
    // top: 50px;
    // left: 180px; */
}

.logo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 800;
}

.red {
    color: red;
}

.picture {
    height: 200px;
}

//  .picture {
//        background-image: url("images/pizzaiolo_6542.png");
//        width: 400px;
//        height: 500px;
       
//     }